*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
.main-content {
  min-height: 1000px;
}

.hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .hero {
    background-position: 50% 0;
  }
}
.hero:after {
  background-color: rgba(29, 30, 31, 0.5);
  bottom: 0;
  content: '';
  left: -2000%;
  position: absolute;
  right: -2000%;
  top: 0;
  z-index: 1;
}

.hero-container {
  box-sizing: border-box;
  height: auto;
  padding: 30px 50px;
  position: relative;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-duration: 1.2s;
}
@media screen and (min-width: 640px) {
  .hero-container {
    height: 100%;
  }
}
.hero-container p {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 6px;
  opacity: 0.8;
  text-transform: uppercase;
  text-align: left;
}
.Headlines{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  Top: 27em
}
.hero-button {
  width: 100%;
  color: rgb(131, 26, 26);
  font-family: 'Gloria Hallelujah', cursive;;
  font-size: 24px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 45px;
  padding: 100px 10px;
  text-decoration: none;
}

.hero-title {
  color: rgb(131, 26, 26);
  font-family: "Playfair Display", serif;
  font-size: 17vw;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  margin-left: 5rem;
  
  margin: 5px 0;
  text-align: left;
  width: 85%;
}
@media screen and (min-width: 640px) {
  .hero-title {
    font-size: 10vw;
  }
}

.Mula {
  background-color: black;
  height: auto;
  padding: 40px 20px;
  position: relative;
  width: 100%;
}

.Mula p {
  color: rgb(131, 26, 26);
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 1.5;
}
.Mula h1{
  color: rgb(131, 26, 26);
  

}
.Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  flex-direction: column;
}

.Contact-Me {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.contactIcons {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: black;
}
.contactIcons a {
  color: black;
}
.contactIcons i {
  margin: 20px;
}

.contactIcons i:hover {
  color: rgb(131, 26, 26);
  transform: scale(2);
  transition: all 0.9s ease-out;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-12px, 0, 0);
    transform: translate3d(-12px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-12px, 0, 0);
    transform: translate3d(-12px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animate {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
          animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.delay {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-400 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-500 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-600 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-700 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-800 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
